#anchorLeft{
    -fx-background-color: #6B6B9F;
}

#anchorRight{

    -fx-background-color: #f8f3ee;
    -fx-background-image: url("fundal2.png");
}

.button{
    -fx-pref-width: 175;
    -fx-pref-height: 35;
    -fx-background-color: #6B6B9F;
    -fx-text-fill: #f8f3ee;
    -fx-font-size: 14;
}